# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type


# Create the city type DataFrames.

urban_cities_df = pyber_data_df[pyber_data_df["type"]=='Urban']
suburban_cities_df = pyber_data_df[pyber_data_df['type']=='Suburban']
rural_cities_df = pyber_data_df[pyber_data_df['type']== 'Rural']


# create DataFrames for number of rides by city type
urban_ride_count = urban_cities_df.groupby(["city"]).count()['ride_id']
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count.head()

city
Amandaburgh        18
Barajasview        22
Carriemouth        27
Christopherfurt    27
Deanville          19
Name: ride_id, dtype: int64

In [4]:
# output totals
urban_ride_total = np.sum(urban_ride_count)
print(f"The total ride count for urban trips is {urban_ride_total}.")

suburban_ride_total = np.sum(suburban_ride_count)
print(f"The total ride count for urban trips is {suburban_ride_total}.")

rural_ride_total = np.sum(rural_ride_count)
print(f"The total ride count for rural trips is {rural_ride_total}.")

The total ride count for urban trips is 1625.
The total ride count for urban trips is 625.
The total ride count for rural trips is 125.

In [5]:
# 2. Get the total drivers for each city type
# create DataFrames for drivers by city type
urban_driver_count = urban_cities_df.groupby(['city']).mean()['driver_count']
suburban_driver_count = suburban_cities_df.groupby(["city"]).mean()["driver_count"]
rural_driver_count = rural_cities_df.groupby(["city"]).mean()["driver_count"]
urban_driver_count.head()

city
Amandaburgh        12.0
Barajasview        26.0
Carriemouth        52.0
Christopherfurt    41.0
Deanville          49.0
Name: driver_count, dtype: float64

In [6]:
# output driver totals
urban_driver_total = np.sum(urban_driver_count)
print(f"The total ride count for urban trips is {urban_driver_total}.")

suburban_driver_total = np.sum(suburban_driver_count)
print(f"The total ride count for suburban trips is {suburban_driver_total}.")

rural_driver_total = np.sum(rural_driver_count)
print(f"The total ride count for rural trips is {rural_driver_total}.")

The total ride count for urban trips is 2405.0.
The total ride count for suburban trips is 490.0.
The total ride count for rural trips is 78.0.

In [7]:
#  3. Get the total amount of fares for each city type
    # Create fare dataframes by city
urban_fare_counts = urban_cities_df['fare']   

suburban_fare_counts = suburban_cities_df['fare']   

rural_fare_counts = rural_cities_df['fare']

In [8]:
    # Output total fares for city type
urban_fare_total = np.sum(urban_fare_counts)
suburban_fare_total = np.sum(suburban_fare_counts)  
rural_fare_total = np.sum(rural_fare_counts)

print(f"The total fares for urban trips is ${urban_fare_total:,.2f}.")
print(f"The total fares for suburban trips is ${suburban_fare_total:,.2f}.")
print(f"The total fares for rural trips is ${rural_fare_total:,.2f}.")

The total fares for urban trips is $39,854.38.
The total fares for suburban trips is $19,356.33.
The total fares for rural trips is $4,327.93.

In [9]:
#  4. Get the average fare per ride for each city type. 
urban_fare_mean = np.mean(urban_fare_counts)
suburban_fare_mean = np.mean(suburban_fare_counts)  
rural_fare_mean = np.mean(rural_fare_counts)

print(f"The average fare for urban trips is ${urban_fare_mean:,.2f}.")
print(f"The average fare for suburban trips is ${suburban_fare_mean:,.2f}.")
print(f"The average fare for rural trips is ${rural_fare_mean:,.2f}.")

The average fare for urban trips is $24.53.
The average fare for suburban trips is $30.97.
The average fare for rural trips is $34.62.

In [10]:
# 5. Get the average fare per driver for each city type. 
urban_fare_per_driver =urban_fare_total/urban_driver_total
suburban_fare_per_driver =suburban_fare_total/suburban_driver_total
rural_fare_per_driver =rural_fare_total/rural_driver_total

print(f"The average fare for urban drivers is ${urban_fare_per_driver:,.2f}.")
print(f"The average fare for suburban drivers is ${suburban_fare_per_driver:,.2f}.")
print(f"The average fare for rural drivers is ${rural_fare_per_driver:,.2f}.")

The average fare for urban drivers is $16.57.
The average fare for suburban drivers is $39.50.
The average fare for rural drivers is $55.49.

In [33]:
rural_fare_per_driver.dtype

dtype('float64')

In [41]:
#  6. Create a PyBer summary DataFrame. 
pyber_index = pd.Series(['Rural', 'Suburban', 'Urban'])
pyber_summary_df1 = pd.DataFrame({
    "Total Rides": [rural_ride_total, suburban_ride_total, urban_ride_total],
    "Total Drivers": [rural_driver_total, suburban_driver_total, urban_driver_total],
    "Total Fares": [rural_fare_total, suburban_fare_total, urban_fare_total],
    "Average Fare per Ride": [rural_fare_mean, suburban_fare_mean, urban_fare_mean],
    "Average Fare per Driver": [rural_fare_per_driver, suburban_fare_per_driver, rural_fare_per_driver]},
    index = pyber_index)
pyber_summary_df = pyber_summary_df1.astype({"Total Drivers":'int'}) 
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,55.486282

In [42]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df.head()

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,55.486282

In [43]:
#  8. Format the columns.
pyber_summary_df['Total Rides']= pyber_summary_df['Total Rides'].map("{:,}".format)
pyber_summary_df['Total Drivers']= pyber_summary_df['Total Drivers'].map("{:,}".format)
pyber_summary_df['Total Fares']= pyber_summary_df['Total Fares'].map("${:,.2f}".format)
pyber_summary_df['Average Fare per Ride']= pyber_summary_df['Average Fare per Ride'].map("${:.2f}".format)
pyber_summary_df['Average Fare per Driver']= pyber_summary_df['Average Fare per Driver'].map("${:.2f}".format)

In [44]:
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$55.49

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [51]:
# 1. Read the merged DataFrame

In [60]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
urban_fares_by_date = urban_cities_df.groupby(['date']).sum()['fare']
suburban_fares_by_date = suburban_cities_df.groupby(['date']).sum()['fare']
rural_fares_by_date = rural_cities_df.groupby(['date']).sum()['fare']

fares_by_date = pd.DataFrame({
              "Rural": rural_fares_by_date,
              "Suburban": suburban_fares_by_date,
              "Urban": urban_fares_by_date})

fares_by_date

                     Rural  Suburban  Urban
date
2019-01-01 00:08:16    NaN       NaN  37.91
2019-01-01 00:46:46    NaN     47.74    NaN
2019-01-01 02:07:24    NaN     24.07    NaN
2019-01-01 03:46:50    NaN       NaN   7.57
2019-01-01 05:23:21    NaN       NaN  10.75
...                    ...       ...    ...
2019-05-08 04:20:00    NaN       NaN  21.99
2019-05-08 04:39:49    NaN       NaN  18.45
2019-05-08 07:29:01    NaN       NaN  18.55
2019-05-08 11:38:35    NaN       NaN  19.77
2019-05-08 13:10:18    NaN       NaN  18.04

[2375 rows x 3 columns]

In [58]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
pivot_df = fares_by_date.reset_index()
pivot_df

                     date  Rural  Suburban  Urban
0     2019-01-01 00:08:16    NaN       NaN  37.91
1     2019-01-01 00:46:46    NaN     47.74    NaN
2     2019-01-01 02:07:24    NaN     24.07    NaN
3     2019-01-01 03:46:50    NaN       NaN   7.57
4     2019-01-01 05:23:21    NaN       NaN  10.75
...                   ...    ...       ...    ...
2370  2019-05-08 04:20:00    NaN       NaN  21.99
2371  2019-05-08 04:39:49    NaN       NaN  18.45
2372  2019-05-08 07:29:01    NaN       NaN  18.55
2373  2019-05-08 11:38:35    NaN       NaN  19.77
2374  2019-05-08 13:10:18    NaN       NaN  18.04

[2375 rows x 4 columns]

In [18]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [19]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [20]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [21]:
# 7. Check that the datatype for the index is datetime using df.info()

In [22]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [23]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')